[Desktop Entry]
Name=LOGIN
Comment=Log in
Exec=/home/weee/Documenti/weeelab/weeelab.py --interactive-login
Icon=/home/weee/Documenti/weeelab/login.png
Terminal=true
Type=Application
