[Desktop Entry]
Name=LOGOUT
Comment=Log out
Exec=/home/weee/weeelab/weeelab.py --interactive-logout
Icon=/home/weee/lollone.png
Terminal=true
Type=Application
